<div id="content">

    <div class="row">
        <h1 class="xcx-title">反馈列表：</h1>
    </div>
    <section id="widget-grid">
        <!--头部开始-->
        <div class="row">
            <h2 class="xcx-title2">反馈管理 &nbsp;&nbsp;<span>(共有<span class="esp" ng-bind="bigTotalItems"></span>条记录)</span></h2>
            <!--<a href="" class="btn btn-primary xcx-add" ui-sref="app.tjh.feedbackAdd">新增</a>-->
        </div>
        <!--头部结束-->

        <!--内容开始-->
        <div class="row">
            <table class="xcx-classify-table table-responsive table-hover" style="margin-top: 15px;">
                <tr class="xcx-table-th">
                    <td class="xcx-index">序号</td>
                    <td>用户名</td>
                    <td>电话</td>
                    <td>时间</td>
                    <td>反馈内容</td>
                    <td>操作</td>
                </tr>
                <tr class="xcx-table-tr" ng-repeat="item in data">
                    <td>{{$index+1}}</td>
                    <td>{{item.user_name}}</td>
                    <td>{{item.tel}}</td>
                    <td>{{item.create_time}}</td>
                    <td>{{item.content}}</td>
                    <td>
                        <!--<button class="btn-default xcx-delete" ui-sref="app.tjh.feedbackAdd({id:item.id})" >修改</button>-->
                        <button class="btn-default xcx-delete" ng-click="dateDelete(item)">删除</button>
                    </td>
                </tr>

            </table>
        </div>
        <!--内容结束-->


        <!--分页开始-->
        <div class="row divide">
            <uib-pagination total-items="bigTotalItems"  ng-model="currentPage" max-size="maxSize" class="pagination-sm"  items-per-page="10" ng-change="pageChanged()" boundary-links="true" force-ellipses="false"></uib-pagination>
        </div>
        <!--分页结束-->
    </section>

</div>