<div id="content">
    <h1 class="xcx-title">新增轮播图管理</h1>

    <article class="col-sm-12 col-md-12 col-lg-12 hidden-xs xcx-tips">
        <div class="explanation m-b-10 m-t-15">
            <div class="title">
                <i class="arrow-icon explain-checkZoom" title="点击此处展开或收起"></i>
                <i class="fa fa-bullhorn"></i>
                <h4 class="explain-checkZoom cur-p">温馨提示</h4>
            </div>
            <ul class="explain-panel">
                <li>
                    <span>当您需要添加栏目时点击右上角的添加栏目按钮即可添加新的关于我们栏目信息</span>
                </li>
                <li>
                    <span>你需要修改栏目信息时点击对应的栏目列表编辑即可，栏目列表可以添加或者删除，公司简介为系统默认栏目不可删除，如果添加公司简介请点击栏目列表中的编辑按钮</span>
                </li>
                <li>
                    <span>公司简介为系统默认栏目不可删除，如果添加公司简介请点击栏目列表中的编辑按钮</span>
                </li>
            </ul>
        </div>
    </article>
    <form action="post" class="form-control xcx-add-lunbo-form" name="lunboForm">
        <ul>
            <li>
                <span>类别</span>
                <div>
                    <select name="" ng-model="addLunbo.news_category_id" id="category"  ng-options="cat.id as cat.category for cat in categoryList">
                        <option value="">请选择类别</option>
                    </select>
                </div>
            </li>
            <li>
                <span>轮播图</span>
                <div>
                    <div class="xcx-lunbo-box">
                        <img ngf-thumbnail="addLunbo.banner||cover"  alt=""/>
                    </div>
                    <span class="xcx-lunbo-btn" >上传 <input type="file" ngf-select="chooseFile($file,-1)" class="xcx-hotel-img-upload" name="img"/></span>
                </div>
            </li>
            <li>
                <span>作者</span>
                <div><input class="form-control" type="text" ng-model="addLunbo.editor"placeholder="请输入作者"/></div>
            </li>
            <li>
                <span>时间</span>
                <div><input class="form-control" type="text" ng-model="addLunbo.time" placeholder="时间格式：2017-02-12 12:20"/></div>
            </li>
            <li>
                <span>详情</span>
                <div>
                    <textarea ng-model="addLunbo.content" placeholder="请输入详情文字"></textarea>
                </div>
            </li>
        </ul>


        <button type="button" class="xcx-submit btn-primary xcx-add-lunbo-submit" ng-disabled="isImgUploading && lunboForm.$invalid" ng-click="lunboForm.$valid && submitForm(lunboFrom)">确定</button>
    </form>

</div>