<div id="content">
<h1 class="xcx-title">新增酒店管理：</h1>

<article class="col-sm-12 col-md-12 col-lg-12 hidden-xs xcx-tips">
    <div class="explanation m-b-10 m-t-15">
        <div class="title">
            <i class="arrow-icon explain-checkZoom" title="点击此处展开或收起"></i>
            <i class="fa fa-bullhorn"></i>
            <h4 class="explain-checkZoom cur-p">温馨提示</h4>
        </div>
        <ul class="explain-panel">
            <li>
                <span>当您需要添加栏目时点击右上角的添加栏目按钮即可添加新的关于我们栏目信息</span>
            </li>
            <li>
                <span>你需要修改栏目信息时点击对应的栏目列表编辑即可，栏目列表可以添加或者删除，公司简介为系统默认栏目不可删除，如果添加公司简介请点击栏目列表中的编辑按钮</span>
            </li>
            <li>
                <span>公司简介为系统默认栏目不可删除，如果添加公司简介请点击栏目列表中的编辑按钮</span>
            </li>
        </ul>
    </div>
</article>

<h2 class="xcx-title2">新增酒店管理</h2>

<form action="post" class="form-control xcx-add-hotel-form xcx-commom-form" name="hotelForm">

    <div class="xcx-hotel-left">
    <label><span>酒店名称:</span> <input type="text" class="form-control xcx-title-input" placeholder="请输入酒店名称" ng-model="hotel.name"/></label>
    <label><span>酒店地址:</span> <input type="text" class="form-control xcx-title-input" placeholder="请输入酒店地址" ng-model="hotel.address"/></label>
    <label><span>经度上传:</span> <input type="text" class="form-control xcx-title-input" placeholder="请输入经度" ng-model="hotel.lng"/></label>
    <label><span>纬度上传:</span> <input type="text" class="form-control xcx-title-input" placeholder="请输入纬度" ng-model="hotel.lat"/></label>
    <label><span>是否推荐:</span> <input style="margin-left:20px;" type="checkbox" ng-model="hotel.recommend" ng-true-value="'1'" ng-false-value="'0'" name="recommend">{{hotel.recommend=='1'? '是' :'否'}}</label>
    <label><span>是否隐藏:</span> <input style="margin-left:20px;" type="checkbox" ng-model="hotel.is_show" ng-true-value="'1'" ng-false-value="'0'" name="recommend">{{hotel.is_show=='1'? '是' :'否'}}</label>
    <label><span>酒店电话:</span> <input type="text" class="form-control xcx-title-input" placeholder="请输入酒店电话" ng-model="hotel.tel"/></label>

        <label>
            <span>分组</span>
            <div>
                <select name="" ng-model="hotel.bgimg_id" id="category"  ng-options="cat.bgimg_id as cat.group_name for cat in category">
                    <option value="">请选择分组</option>
                </select>
            </div>
        </label>
        <label><span>酒店介绍:</span>
        <textarea class="form-control xcx-hotel-des" placeholder="请输入酒店介绍" ng-model="hotel.introduce"></textarea>
    </label>
        <!--标签开始-->


        <label>
            <span>一级标签：</span>
            <div class="xcx-tag-box" >
                <label ng-repeat="label in firstPrimary track by $index"><input name="primary_label" ng-model="label.checked" type="checkbox" />{{label.name}}</label>
            </div>
        </label>


        <label>
            <span>二级标签：</span>
            <div class="xcx-tag-box" >
                <label ng-repeat="label in twoLabel track by $index"><input name="primary_label" ng-model="label.checked" type="checkbox" />{{label.name}}</label>

            </div>
        </label>

        <label>
            <span>三级标签：</span>
            <div class="xcx-tag-box">
                <label ng-repeat="label in threeLabel track by $index"><input name="primary_label" ng-model="label.checked" type="checkbox" />{{label.name}}</label>
            </div>

        </label>
        <!--标签结束-->

        <button type="button" class="xcx-submit-hotel btn btn-primary" ng-disabled="" ng-click="submitForm()">保存</button>
    </div>

        <div class="xcx-hotel-right">
            <span>图片</span>
            <div>
                <div class="xcx-hotel-img-box">
                    <img ngf-thumbnail="hotel.logo||logo"  alt=""/>
                </div>
                <span class="xcx-hotel-img-upload-box" >上传 <input type="file" ngf-select="chooseFile($file,-1)" class="xcx-hotel-img-upload" name="img"/></span>
            </div>
        </div>


</form>


</div>